/* Submenu emergente */

.contenedorSubmenu {
    position: relative;
}

.submenu {
    position: absolute;
    display: none;
    background-color: white;
    border-radius: 5px;
    padding: 0;
    width: 105px;
}

.contenedorSubmenu:hover .submenu{
    display: block;
}

.submenu li {
    padding: 0px 5px;
    margin: 3px;
}

/* Fin submenu emergente */