/* Le saco los bullets a la lista con la que se arma la navbar*/
nav ul li{
    list-style: none;
}


/*La barra de navegacón queda siempre visible pegada al borde superior de la página usando position sticky. Divido el menú en dos columnas usando display:grid */
.menuSticky {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 1fr 2fr ;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    /* No creo que un degradado quede bien con la estética del sitio, por eso puse un degradado de blanco a blanco para que puedan evaluar como uso la herramienta */
    background-image: linear-gradient(to bottom, white, white);
    padding: 15px 20%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.1);
    z-index: 15;
}


/*Ajusto la altura del logo en el header */
.logoHeader {
    height: 40px;
}


/* Le asigno display:grid a la ul del menuSticky para divirlo en 4 columnas de ancho automático */
.navbar {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 5px;
    grid-gap: 15px;
    margin: 0;
}


/* Centro el texto de cada botón de la barra de navegación */
.navbar li {
    text-align: center;
    padding: 2px;
}


/* Cómo la navbar es siempre la misma, el enlace a la página actual aparece en otro color */
.seleccionado {
    color: #9FCDBE;
}


/* A los enlaces de la barra de navegación le saco el subrayado y le asigno color y negrita */
nav ul li a{
    text-decoration: none;
    color: #EE988F;
    font-weight: bold;
    padding: 2px;
}

/* Los botones de la barra de navegación cambian de color al pasar el mouse por encima */
nav ul li a:hover{
    color: white;
    background-color: #F9D953;
    border-radius: 5px;
}

/* Se importan las propiedades del menú desplegable */
@import "_emergente";


// Creo un extend para propiedades repetidas
%videoProperties {
    width: 100%;
    height: 100vh;
}

  

.portada {
    @extend %videoProperties;
}


/* Propiedades del video que se ajustan a su caja .portada cubriendo la totalidad de la misma */
.videoPortada {
    @extend %videoProperties;
    object-fit: cover;
    top: 0;
    left: 0;
}


/* Para que el logo y la imagen queden arriba del video con posicion absoluta, que se separe del lateral izquiedo y tenga un fondo negro semi transparente con bordes derechos redondeados */
.content {
    position: relative;
    top: -35vh;
    width: 75%;
    padding: 25px 25px 30px 20%;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}

.content h2 {
    font-size: 2.5rem;
}

.fondoNegroTransparente {
    background-color: rgba(0, 0, 0, 0.5)
}


/* Uso un caracteri de piquito como flecha animada para que el usuario sepa que hay más contenido debajo del video */
.flechaAbajo {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 10;
    right: 50%;
    top: 90vh;
    animation-name: flechita;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

/* Roto el caracter 270 grados para que quede apuntando hacia abajo */
.flechaAbajo h2 {
    transform: rotate(270deg);
}

@keyframes flechita {
0% {
    transform: translate(0, 0); 
}

50% {
    transform: translate(0, 15px);
}

100% {
    transform: translate(0, 0);
}
}


/* Achico un poco el logo que va sobre el video. Uso una variable para poder modificar más facilmente el ancho y alto del logo que está sobre el video*/
.content img {
    width: $anchoVideoPrincipal;
    // height: $altoVideoPrincipal;
}